header,
nav,
main,
footer,
section,
article,
figure,
figcation,
aside {
    display: block;
}




* {
    box-sizing: border-box;
}

body {
    color: #666666;
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-image: url(/pictures/hawaii5.jpg);
    background-repeat: no-repeat;
    font-size: 2em;
    font-family: Georgia, sans-serif;
    text-align: center;
    color: aqua;
    height: 600px;
}


nav {
    font-weight: bold;
    float: left;
    padding: 20px 2px 0px 10px;
    background-color: #4ded91
}

h2 {
    color: #3399CC;
    font-family: Georgia, sans-serif;
    text-align: center;
    font-size: 2em;

}

h5 {
    color: #000033;
}

dt {
    color: #000033;
    font-weight: bold;
}

.weddings {
    color: #000033;
    font-size: 1.3em;
    font-style: italic;

}
#address { 
        text-align: center;
}

#beach {
    background-repeat: no-repeat;
    text-align: center;


}

#sunet {
    background-repeat: no-repeat;
    text-align: center;
}

#photo {
    text-align: center;
}

#catering {
    text-align: center;
}

footer {
    font-size: .7em;
    font-style: italic;
    text-align: center;
    padding: 10px;
    background-color: #FFFFFF;
    margin-left: 170px;
}

#wrapper {
    background-color: #4ded91;
    min-width: 700px;
    max-width: 1024px;
    box-shadow: 3px 3px 3px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

main {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    background-color: #FFFFFF;
    margin-left: 170px;
    padding-top: 1px;
    padding-bottom: 1px;

}



nav ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;

}


}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #000033;
}

nav a:visited {
    color: #344873;
}

nav a:hover {
    color: #FFFFFF;
}

#mobile {
    display: none;
}

#desktop {
    display: inline;
}

table {
    width: 90%;
    margin: auto;
    border: 1px solid #3399cc;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
    border: 1px solid #3399cc;
}

td {
    text-align: center;
}

.text {
    text-align: left;
}

tr:nth-of-type(even) {
    background-color: #F5FAFC;
}

label {
    float: left;
    display: block;
    width: 8em;
    padding-right: 1em;
}

input,
textarea {
    display: block;
    margin-bottom: 1em;
}

#mySubmit {
    margin-left: 10em;
}

@media only screen and (max-width: 1024px) {
    body {
        margin: 0px;
        padding: 0px;
        background-image: none;
    }
    header {
        background-size: auto;
    }
    #wrapper {
        width: auto;
        min-width: 0px;
        margin: 0px;
        box-shadow: none;
    }
    h1 {
        margin: 0px;
    }
    nav {
        float: none;
        width: auto;
        padding: 0.5em;

    }
    nav li {
        display: inline-block;
    }
    nav a {
        padding: 1em;
    }
    main {
        padding: 1em;
        margin-left: 0px;
        font-size: 90%;
    }
    footer {
        margin: 0px;
    }
    #homehero,
    #yurthero,
    #trailhero {
        margin-left: 0px;
    }

}

@media only all and (max-width: 768px) {
    h1 {
        height: 100%;
        font-size: 1.5em;
        padding-left: 0.3em;
    }
    nav {
        padding: 0px;
        height: auto;
    }
    nav a {
        display: block;
        padding: 0.2em;
        font-size: 1.3em;
        border-bottom: 1px;
        border-bottom-color: #330000;
    }
    nav ul {
        margin: 0px;
        padding: 0px;
    }
    nav li {
        display: block;
        margin: 0px;
        padding: 0px;
    }
    main {
        padding: 0.1em 0.6em 0.1em 0.4em;
    }
    #beach,
    #sunset,
    #photo, #reception, #catering, #reservations {
        display: none;
    }
    footer {
        padding: 0px;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }

}
